<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/xg1">
    <input type="hidden" name="empno" th:value="${e.empno}">
    姓名：<input type="text" name="ename" th:value="${e.ename}"><br>
    职位：<input type="text" name="job" th:value="${e.job}"><br>
    入职时间：<input type="text" name="hiredate" th:value="${#dates.format(e.hiredate,'yyyy-MM-dd')}"><br>
    工资：<input type="text" name="sal" th:value="${e.sal}"><br>
    补助：<input type="text" name="comm" th:value="${e.comm}"><br>
    部门：<select id="bm" name="deptno">
</select><br>
    <input type="submit" value="修改">
</form>
<script type="text/javascript" src="/js/jquery-1.12.4.js"></script>
<script type="text/javascript">

    $(function () {


        $("#bm").load("asd", function (result) {
            var b = eval(result);

            $(b).each(function () {
                $("#bm").append(" <option value=" + this.deptno + ">" + this.dname + "</option>");
            })
        })

    })
</script>
</body>
</html>