<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.Empmapper">
    <select id="sy" resultType="Emp">
        select e.*,t.dname as dname from emp e,dept t where e.deptno=t.deptno
        <if test="deptno!=null and deptno!=0">
            and e.deptno=#{deptno}
        </if>
    </select>
    <select id="xl" resultType="Dept">
        select * from dept
    </select>
    <select id="ygcx" resultType="Emp">
        select e.*,t.dname as dname from emp e,dept t where e.deptno=t.deptno and e.empno=#{empno}
    </select>
    <update id="xg1" parameterType="Emp">
        update emp set ename=#{ename},job=#{job},hiredate=#{hiredate},sal=#{sal},comm=#{comm},deptno=#{deptno} where
        empno=#{empno}
    </update>

    <insert id="xz" parameterType="Emp">
        <selectKey keyProperty="empno" order="BEFORE" resultType="int">
            select seq_name.nextval as empno from dual
        </selectKey>
        insert into emp(empno,ename,job,mgr,hiredate,sal,comm,deptno)
        values(#{empno},#{ename},#{job},#{mgr},#{hiredate},#{sal},#{comm},#{deptno})
    </insert>
    <select id="jl" resultType="Emp">
        select * from emp where job='MANAGER'
    </select>
    <delete id="sc">
        delete from emp where empno=#{empno}
    </delete>
</mapper>